@media only screen and (max-width: 600px) {
    
    section{
        padding:5% 15%;
    }
    .section-title{
        font-size: 22px;
        text-align: center;
        /* margin: 20px 0; */
    }
    a{
        /* text-decoration: none;
        font-weight: 700;
        color: var(--secondary-color); */
    
    }
    .fixed-social-icon{
        position: fixed;
        top:30%;
        right: 0;
    }
    .fixed-social-icon .icons{
        display: flex;
        flex-direction: column;
    }
    .fixed-social-icon .icons a{
        margin: 2px 0px;
        padding: 3px 5px;
        font-size: 17px;

    }
    .short-info{
        min-height: 100vh;
        
        /* color:#fff; */
    }
    .small-txt{
        color:#000;
        font-size: 18px;
        letter-spacing: 2px;
    }
    
    .title-name{
        font-size: 50px;
    }
    .title-job{
        font-size: 26px;
    }
    .short-intro{
        font-size: 16px;
        line-height: 28px;
        width: 100%;
    }
    .btn-tz{
        border: 0px;
        padding:12px 36px;
        border-radius: 0px;
        font-size: 18px;
        
    }
    
    .btn-tz:hover{
        border: 0px;
        padding:18px 72px;
        border-radius: 0px;
        font-size: 18px;
    }
    .about{
        min-height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .about-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-img img{
        width:80%;
        margin: 20px 0;
    }
    .about-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .works{
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-sm{
        width:10%;
    }
    .projects{
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects table h3{
        font-size:17px ;
        line-height: 22px;
    }
    .contact{
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-info{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
    .contact-info p{
        text-align: center;
    }
    
    
    .about, .works{
        flex-direction: column;
    }
}