@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap'); 


:root {
    --primary-color: #0A3E3F;
    --secondary-color: #37C4B9;
    --accent-color: #D4EDEC;
}
body{
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Inconsolata', monospace;


}
section{
    padding:2% 15%;
}
a{
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-color);

}
a:hover{
    color:var(--secondary-color);
}
.hide{
    display: none!important;
}
.brandify{
    background: var(--primary-color)!important;
    color: #fff!important;
}
.navbar-brand img{
    max-width: 40px;
    max-height:40px;
}
.navbar ul li a{
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:auto 7px;
    font-weight: 800;
    color:#3e3e3e;
}
.navbar ul li a.nav-active{
    border-bottom: 3px solid var(--primary-color);
    transition: 0.3s ease all;
}
.fixed-social-icon{
    position: fixed;
    top:40%;
    right: 0;
}
.fixed-social-icon .icons{
    display: flex;
    flex-direction: column;
}
.fixed-social-icon .icons a{
    margin: 3px 0px;
    padding: 5px 8px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: #fff;
}
.fixed-social-icon .icons a:hover{
    background-color: var(--secondary-color);
}

.slider{
    background-color:  var(--accent-color) ;

}
.short-info{
    min-height: 100vh;
    
    /* color:#fff; */
}
.small-txt{
    color:#000;
    font-size: 18px;
    letter-spacing: 2px;
}

.title-name{
    font-size: 80px;
    letter-spacing: -1px;
}
.title-job{
    font-size: 42px;
}
.short-intro{
    font-size: 17px;
    line-height: 28px;
    width: 70%;
}   
.btn-tz{
    border: 0px;
    padding:18px 72px;
    border-radius: 0px;
    font-size: 18px;
    background-color: var(--primary-color);
}

.btn-tz:hover{
    border: 0px;
    padding:18px 72px;
    border-radius: 0px;
    font-size: 18px;
    background-color: var(--secondary-color);
}
.about{
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-img{
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width:90%;
}
.about-description{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px;
}
.about-description p{
    font-size: 15px;
}

.works{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.job-title span{
    color: var(--primary-color);
}
.img-sm{
    width:10%;
}
#projects{
    
}
.projects{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects table h3{
    font-size:18px ;
}
.contact{
    background-color: var(--accent-color);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-info{
    min-height: 100%;
    height:200px;
    width:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s ;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     */
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* margin-bottom: 1000px; */
}
.contact-info h2{
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.contact-detail{
    /* word-wrap: break-word; */
    padding: 5px;
    width: 350px;
    display: flex;
    justify-content: space-around;
}   

.contact-detail div:nth-child(1){
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}
.contact-detail div:nth-child(2){
    width:80%;
    margin:0;
}

.contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-icon a i{
    font-size: 35px;
    margin: 15px 15px;
    color:#fff;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: #fff;
}
footer p{
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .about, .works{
        flex-direction: column;
    }
}